/*Centro de Biotecnologia Agropecuaria
An치lisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creaci칩n: 22 de Febrero de 2022
Fecha de actualizaci칩n: 23 de febrero de 2022*/

body{
    background-color: chartreuse;
}

.lua1{
    color: brown;
    font-size: large;
    font-family: Haettenschweiler;
}

.lua2{
    color: darkgoldenrod;
    font-size: large;
    font-family:Times New Roman;
}

.lua3{
    color: teal;
    font-size: large;
    font-family: Times New Roman;
}

.lua4{
    color: midnightblue;
    font-size: large;
    font-family: Times New Roman;
}

#container{
    width: 1000px;
    height: 500px;
    background-color: lightpink;
    margin-left: auto;
    margin-right: auto;
}
/*backround color: utilizada para dar color a un elemento.
  font size: utilizada para el tama침o de la letra.
  font family: utilizada para dar un tipo de letra al texto.
  width: utilizada para determinar el ancho del area de contenido de un elemento.
  height: utilizada para especificar la altura del area de contenido de un elemento.
  margin left: utilizada para establecer el margen izquierdo de un elemento especificando una longitud o un porcentaje.
  margin right: utilizada para establecer el margen derecho de un elemento especificando una longitud o un porcentaje.*/