/*Centro de Biotecnologia Agropecuaria
Análisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creación: 22 de Febrero de 2022
Fecha de actualización: 23 de febrero de 2022*/

body{
    background-color:antiquewhite
}

.lua{
    color: blue;
    font-size: large;
    font-family: sans-serif;
}

.lua1{
    color:aqua;
    font-size: large;
    font-family: sans-serif;
}

#container{
    width: 1000px;
    height: 500px;
    background-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
}
/*backround color: utilizada para dar color a un elemento.
  font size: utilizada para el tamaño de la letra.
  font family: utilizada para dar un tipo de letra al texto.
  width: utilizada para determinar el ancho del area de contenido de un elemento.
  height: utilizada para especificar la altura del area de contenido de un elemento.
  margin left: utilizada para establecer el margen izquierdo de un elemento especificando una longitud o un porcentaje.
  margin right: utilizada para establecer el margen derecho de un elemento especificando una longitud o un porcentaje.*/